<div class="about-container">

  <!-- Герой-секция -->
  <section class="hero-section">
    <div class="hero-content">
      <img src="About1.jpg" alt="Изображение слева" class="hero-image">
      <div class="hero-text">
        <p>Начни этот день с новых знаний и общения!</p>
        <h1><span class="highlight">Обмен</span> Знаниями & Умениями</h1>
          <button mat-raised-button color="accent" (click)="openLoginDialog(true)">
            Присоединиться <mat-icon>arrow_forward</mat-icon>
          </button>
      </div>
      <img src="About2.jpg" alt="Изображение справа" class="hero-image">
    </div>
  </section>

  <hr class="divider" />
  <div class="icon-divider">
    <mat-icon>star</mat-icon>
  </div>

<!-- Слайдер с фотографиями -->
<section class="photo-slider">
  <div class="slider-container">
    <button class="nav-button left" (click)="prevImage()">&#10094;</button>

    <img [src]="sliderImages[currentSlide]" alt="Слайд" class="slider-image" />

    <button class="nav-button right" (click)="nextImage()">&#10095;</button>
  </div>
</section>


  <!-- О нас и миссия -->
  <section id="mission" class="info-section">
    <mat-card class="info-card">
      <mat-card-title>О НАС</mat-card-title>
      <mat-card-content>
        <p>Обмен Знаниями & Умениями» — это веб-приложение, созданное для того, чтобы объединять людей, готовых учиться и делиться своими знаниями и умениями.
        <br>  <br>Знание — это сила, которая растёт, когда ей делятся.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="info-card">
      <mat-card-title>МИССИЯ</mat-card-title>
      <mat-card-content>
        <p> Миссия — создать открытую, дружелюбную и многоязычную среду, где каждый сможет делиться своими знаниями и умениями,
          находить партнёров и единомышленников по интересам, учиться в своём ритме и вдохновляться историями других.</p>
      </mat-card-content>
    </mat-card>
  </section>

   <hr class="divider">
  <div class="icon-divider">
    <mat-icon>star</mat-icon>
  </div>


    <!-- Чему вы можете научиться -->
  <section class="learning">
    <h2><span class="highlight3">Чему вы</span> можете научиться?</h2>
    <mat-grid-list cols="4" rowHeight="200px" gutterSize="16px">
      <mat-grid-tile *ngFor="let item of learningItems">
        <img [src]="item.image" alt="{{item.title}}">
        <mat-grid-tile-footer>
          <h3>{{item.title}}</h3>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

<!-- Как это работает -->
<hr class="divider" />
<div class="icon-divider">
  <mat-icon>star</mat-icon>
</div>

<section class="horizontal-steps">
  <h2><span class="highlight1">Хочешь начать,</span> но не знаешь как?</h2>
  <p class="subtitle">не бойтесь знакомиться и открывать для себя новое</p>

  <div class="steps-line-container">
    <div class="steps-line"></div>

    <div class="steps-horizontal">
      <div *ngFor="let step of steps" class="step-item">
        <div class="step-number">{{ '0' + step.number }}</div>
        <div class="step-content">
          <div class="step-text">
            <h3>{{ step.title }}</h3>
            <p>{{ step.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

   <hr class="divider" />
  <div class="icon-divider">
    <mat-icon>star</mat-icon>
  </div>


  <!-- Преимущества -->
  <section id="opisanie" class="benefits">
    <h2><span class="highlight2"> Наши</span> преимущества</h2>
    <div class="benefits-list">
      <mat-card class="benefit-card" *ngFor="let benefit of benefits">
        <mat-icon class="benefit-icon">{{benefit.icon}}</mat-icon>
        <p>{{benefit.text}}</p>
      </mat-card>
    </div>
  </section>


  <hr class="divider" />
  <div class="icon-divider">
    <mat-icon>star</mat-icon>
  </div>

  <section class="highlight-section">
  <!-- Первый элемент -->
  <mat-card class="highlight-item">
    <div class="card-content">
      <div class="highlight-text">
        <mat-card-title>Наши ценности</mat-card-title>
        <mat-card-content>
          <p>
            Cообщество построено на принципах уважения, открытости и стремления к постоянному развитию.
          </p>
          <p>
            Вместе мы создаем среду, где каждый может чувствовать себя комфортно, делиться своими знаниями и
            получать поддержку от других.
          </p>
        </mat-card-content>
      </div>
      <div class="highlight-image">
        <img mat-card-image src="About_zen.jpg" alt="Ценности сообщества">
      </div>
    </div>
  </mat-card>

  <!-- Второй элемент (реверс) -->
  <mat-card class="highlight-item reverse">
    <div class="card-content reverse">
      <div class="highlight-image">
        <img mat-card-image src="About_love.jpg" alt="Возможности для развития">
      </div>
      <div class="highlight-text">
        <mat-card-title>Развивайся и знакомься</mat-card-title>
        <mat-card-content>
         <p>
          "Обмен Знаниями & Умениями" — это место, где учеба превращается в удовольствие,
          а профессиональные интересы — в личные связи. Здесь рождаются дружба, вдохновение и любовь.
        </p>
        <p>
          Мы предлагаем систему наставничества, где можно найти ментора и двигаться к своим целям с поддержкой.
        </p>
        </mat-card-content>
      </div>
    </div>
  </mat-card>

  <mat-card class="highlight-item">
    <div class="card-content">
      <div class="highlight-text">
        <mat-card-title>Ограниченные возможности</mat-card-title>
        <mat-card-content>
           <p>
          Люди с ограниченными возможностями здоровья могут не только учиться, но и помогать друг другу — делиться опытом, поддерживать и вдохновлять.
        </p>
        <p>
          Наше сообщество создаёт пространство, где каждый может найти единомышленников, обменяться знаниями и чувствовать себя частью большой и заботливой команды.
        </p>
        </mat-card-content>
      </div>
      <div class="highlight-image">
        <img mat-card-image src="About_inv.jpg" alt="Ценности сообщества">
      </div>
    </div>
  </mat-card>

  <!-- Второй элемент (реверс) -->
  <mat-card class="highlight-item reverse">
    <div class="card-content reverse">
      <div class="highlight-image">
        <img mat-card-image src="About_fam.jpg" alt="Возможности для развития">
      </div>
      <div class="highlight-text">
        <mat-card-title>Общий язык с ребенком </mat-card-title>
        <mat-card-content>
         <p>
          Родители могут находить других родителей, которые сталкивались с похожими трудностями в общении со своими детьми.
        </p>
        <p>
          Здесь можно получить совет, узнать о новых подходах и методиках, а также просто разделить свои переживания с теми, кто поймёт и поддержит.
        </p>
        </mat-card-content>
      </div>
    </div>
  </mat-card>

  <!-- Контакты -->
<section id="contact" class="contact-section">
  <div class="container">
    <h2 class="section-title">Контакты</h2>
     <!-- Фото -->
    <div class="section-image">
      <img mat-card-image src="contact.jpg" alt="Возможности для развития" class="contact-image">
    </div>

    <p class="section-description">
      Если у вас есть вопросы, предложения — свяжитесь со мной:
    </p>

    <ul class="contact-list">
      <li class="contact-item">
        <span class="contact-icon">✉️</span>
        <strong>Email:</strong>
        <a href="mailto:535389@bk.ru" class="contact-link">535389&#64;bk.ru</a>
      </li>
      <li class="contact-item">
        <span class="contact-icon">📞</span>
        <strong>Телефон:</strong>
        <a href="tel:+79036535389" class="contact-link">+7 (903) 653-53-89</a>
      </li>
      <li class="contact-item">
        <span class="contact-icon">📍</span>
        <strong>Адрес:</strong>
        <span>г. Воронеж, ул. Владимира Невского, д. 1А</span>
      </li>
    </ul>
  </div>
</section>
</div>
