<div class="header-wrapper">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button routerLink="/about">О нас</button>
      <button mat-button>Описание</button>
      <button mat-button>Миссия</button>
      <span class="spacer"></span>

      <div *ngIf="isLoggedIn">
        <button mat-button routerLink="/profile">Профиль</button>
        <button mat-button routerLink="/exchange">Обмен</button>
      </div>

      <button mat-button (click)="openLoginDialog()">
        {{ isLoggedIn ? 'Выйти из профиля' : 'Войти | Зарегистрироваться' }}
      </button>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
