<div class="header-wrapper">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button routerLink="/about" class="logo-button">
        <img src="logotip.jpg" alt="Логотип" class="logo-icon" />
      </button>
      <button mat-button routerLink="/about" fragment="mission" ><mat-icon>people</mat-icon>О нас</button>
      <button mat-button routerLink="/about" fragment="opisanie" ><mat-icon>menu_book</mat-icon>Описание</button>
      <button mat-button routerLink="/about" fragment="contact" ><mat-icon>phone</mat-icon>Контакты</button>
      <span class="spacer"></span>

      <div *ngIf="isLoggedIn">
        <button mat-button routerLink="/profile"><mat-icon>perm_identity</mat-icon>Профиль</button>
        <button mat-button routerLink="/exchange"><mat-icon> chat_bubble_outline</mat-icon>Обмен</button>
      </div>

       <button mat-button (click)="openLoginDialog()"><mat-icon>exit_to_app</mat-icon> 
    <ng-container *ngIf="isLoggedIn">
     Выйти из профиля
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
      Войти | Зарегистрироваться
    </ng-container>
  </button>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
