.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-content {
  margin-top: 40px;
  display: flex;
  flex: 1;
}

app-chat-list {
  margin-top: 40px;
  width: 30%;
  border-right: 1px solid #ccc;
}

app-chat-window {
  flex: 1;
}
