/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  background-color: #EFEFEF;
  margin: 0; /* Убираем стандартные отступы body */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
}
