.auth-dialog-wrapper {
  background-color: #fff;
  border-radius: 6px;
  padding: 25px 30px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.auth-title {
  color: #24292e;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: -5px;
  font-weight: 600;
  text-align: center;
}

.auth-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-label {
  color: #24292e;
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 -4px 4px;
}

.auth-input {
  width: 100%;
  color: #ffffff;
}

.auth-button {
  background-color: #00aaff;
  color: white;
  font-size: 15px;
  font-weight: 300;
  height: 40px;
  width: 100%;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.auth-button:hover {
  background-color: #00aaffb1;
}