<div class="auth-dialog-wrapper">
  <h1 class="auth-title">
    {{ isRegistering ? 'Регистрация:' : 'Вход' }}
  </h1>

  <div *ngIf="stage === 1" class="auth-box">
    <label class="auth-label" for="email">Введите вашу почту:</label>
    <mat-form-field appearance="fill" class="auth-input">
      <input matInput id="email" type="email" [(ngModel)]="email" placeholder="Введите почту"/>
    </mat-form-field>
    <button mat-flat-button color="primary" class="auth-button" (click)="submitEmail()">Продолжить</button>
  </div>

  <div *ngIf="stage === 2" class="auth-box">
    <label class="auth-label" for="password">
      {{ isRegistering ? 'Введите пароль и подтвердите его:' : 'Введите пароль:' }}
    </label>
    <mat-form-field appearance="fill" class="auth-input">
      <input matInput type="password" id="password" [(ngModel)]="password" placeholder="Введите пароль">
    </mat-form-field>

    <mat-form-field *ngIf="isRegistering" appearance="fill" class="auth-input">
      <input matInput type="password" placeholder="Подтвердите пароль">
    </mat-form-field>

    <button mat-flat-button color="primary" class="auth-button" (click)="submitPassword()">Подтвердить</button>
  </div>

</div>
